<nav>
    <div class="navbar">
        <img src="https://audiophile-challenge.netlify.app/assets/shared/desktop/logo.svg" alt="" class="logo">

        <ul class="navbar-nav">
            <li><a [routerLink]="['']">HOME</a></li>
            <li><a [routerLink]="['/category', 'headphones']">HEADPHONES</a></li>
            <li><a [routerLink]="['/category', 'speakers']">SPEAKERS</a></li>
            <li><a [routerLink]="['/category', 'earphones']">EARPHONES</a></li>
        </ul>

        <i class="bi bi-cart2"></i>
    </div>
</nav>