main {
    background-image: url(https://audiophile-challenge.netlify.app/image-hero.55c18e980adf7658ae26.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 70%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1 !important;
    .hero-text {
        z-index: 0 !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        span {
            color: #969696;
            letter-spacing: 3px;
            font-size: 1rem;
        }

        h4 {
            color: #fff;
            font-size: 3.5rem;
            margin: 20px 0;
            line-height: 55px;

            @media only screen and (max-width:650px) {
                font-size: 2.8rem;
            }
        }

        p {
            color: #969696;
            width: 80%;
            font-size: 1rem;

            @media only screen and (max-width:650px) {
                font-size: .9rem;
            }
        }

        button {
            padding: 1em 2em;
            background-color: #d97e4a;
            color: #fff;
            border: none;
            font-weight: 700;
            margin-top: 20px;
            transition: .3s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.358);
                background-blend-mode: multiply;
            }
        }
    }
}