.container{
    margin: 250px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
    @media only screen and (max-width:768px)  {
        flex-direction: column;
        row-gap: 60px;
        align-items: center;
        margin: 150px 0;
    }
    .card{
        width: 100%;
        max-width: 350px;
        height: 205px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background-color: #f1f1f18e;
        padding: 1em;
        position: relative;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        @media only screen and (max-width:768px)  {
            height: 150px;
        }
        &:hover{
            background-color: #f1f1f1;

            a{
                color: #d97e4a;
            }

            .main{
                top: -6.5em;
            }
        }
        .main{
            width: 80%;
            position: absolute;
            top: -6em;

            @media only screen and (max-width:768px)  {
                width: 50%;
                top: -4em;
            }
            @media only screen and (max-width:320px)  {
                width: 50%;
                top: -2em;
            }
        }
        h4{
            font-size: 1.7rem;
            margin-bottom: .3em;
            font-weight: 500;
        }

        a{
            color: #969696;
            font-weight: 700;
            font-size: 1rem;
            img{
                width: 10px;
                margin-left: 1em;
            }
        }
    }
}