footer{
    background-color: black;
    padding: 4em 0 1.8em 0;
    color: #fff;
    .container{
        display: flex;
        flex-direction: column;
        row-gap: 45px;

        @media only screen and (max-width:768px)  {
            align-items: center;
        }
        .foot-nav{
            width: 100%;
            max-width: 1440px;
        .navbar{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media only screen and (max-width:1024px)  {
                margin: auto;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 20px;
            }

            @media only screen and (max-width:768px)  {
                align-items: center;
            }
            .logo{
                height: 100%;
            }
            .navbar-nav{
                display: flex;
                flex-direction: row;
                list-style: none;  
                column-gap: 24px;    
                @media only screen and (max-width:768px)  {
                    flex-direction: column;
                    text-align: center;
                    row-gap: 20px;
                }
                li{
                    a{
                        color: white;
                        text-decoration: none;
                        font-size: .9rem;
                        transition: .3s;
                        &:hover{
                            color: #d97e4a;
                        }
                    }
                }
            }

            i{
                color: white;
                font-size: 1.5rem;
            }
        }
    }
    p{
        width: 100%;
        max-width: 700px;
        color: #909090;
        @media only screen and (max-width:768px)  {
            text-align: center;
        }
    }

    .rights-socials{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media only screen and (max-width:768px)  {
            flex-direction: column;
            align-items: center;
        }

        .socials{
            img{
                margin-right: 10px;
                @media only screen and (max-width:768px)  {
                    margin-right: 20px;
                }
            }
        }
    }
    .dev{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        row-gap: 10px;
        
        a{
            text-decoration: none;
            color: #909090;
            i{
                font-size: 2rem;
            }
        }
    }
  }
}