<div class="container">
    <div class="wrapper">
        <picture>
            <img src="{{product.image.desktop}}" alt="">
        </picture>

        <div class="product-text">
            <span>NEW PRODUCT</span>
            <h4>XX99 Mark II Headphones</h4>
            <p>The new XX99 Mark II headphones is the pinnacle of pristine audio. It redefines your premium headphone experience by reproducing the balanced depth and precision of studio-quality sound.</p>

            
        </div>
    </div>
</div>