<div class="container ">
    <div class="wrapper">
        <!-- <picture>
            <img src="{{product.image.desktop}}" alt="">
        </picture> -->

        <div class="img-div" style="background-image: url({{product.image.desktop}});">

        </div>

        <div class="product-text">
            <span>NEW PRODUCT</span>
            <h4>{{product.name}}</h4>
            <p class="text-secondary">{{product.description}}</p>

            <p class="price">$<span style="margin-left: 5px;">{{product.price}}</span></p>

            <div class="cart">
                <div class="quantity">
                    <i class="bi bi-dash" style="cursor: pointer;" (click)="decQte()"></i>
                    <span>{{productQte}}</span>
                    <i class="bi bi-plus" style="cursor: pointer;" (click)="addQte()"></i>
                </div>

                <button (click)="addToCart(product)">ADD TO CART</button>
            </div>
        </div>
    </div>
</div>