.container{
    .wrapper{
        display: flex;

        .product-text{
            color: black;
            
            span{
                color:#d97e4a;
            }
            h4{
            }
            p{
            }
        }
    }
}