<div class="container">
    <div class="wrapper">
        <picture>
            <img src="{{product.image.desktop}}" alt="">
        </picture>

        <div class="product-text">
            <span>NEW PRODUCT</span>
            <h4>{{product.name}}</h4>
            <p>{{product.description}}</p>

            <p class="price">$<span style="margin-left: 5px;">{{product.price}}</span></p>

            <div class="cart">
                <div class="quantity">
                    <i class="bi bi-dash"></i>
                    <span>0</span>
                    <i class="bi bi-plus"></i>
                </div>

                <button>ADD TO CART</button>
            </div>
        </div>
    </div>
</div>