.container{
    width: 100%;
    max-width: 1270px;
    margin: 180px auto;
    .wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        column-gap: 50px;
        .before-text{
            width: 100%;
            max-width: 480px;

            .main{
                font-size: 3.5rem;
                font-weight: 700;
                margin-bottom: 14px;
                color: black;
                line-height: 60px;
            }
            p{
                color: #969696;
            }
        }
    }

    img{
        width: 100%;
        max-width: 500px;
    }
}

@media only screen and (max-width:1020px)  {
    .wrapper{
        flex-direction: column-reverse !important;
        row-gap: 30px;
        .before-text{
            max-width: 90% !important;
            text-align: center;
            .main{
                font-size: 3rem !important;
            }
        }
    }
}