.container{
    width: 1270px;
    margin: 180px auto;
    .wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .before-text{
            width: 100%;
            max-width: 480px;

            .main{
                font-size: 3.5rem;
                font-weight: 700;
                margin-bottom: 14px;
                color: black;
                line-height: 60px;
            }
            p{
                color: #969696;
            }
        }
    }
}