<div class="cart-container">
    <div class="wrapper">
        <div class="cart-header">
            <span>CART({{cart.length}})</span>
            <span style="text-decoration:underline; cursor: pointer;" (click)="removeAll()">Remove All</span>
        </div>

        <div class="products" *ngIf="cart.length">
            <div class="product" *ngFor="let product of cart">
                <img src="{{product.image}}" alt="">
                <div class="product-desc d-flex flex-column">
                    <span>{{product.name | slice : 0 : 3}}</span>
                    <span>$ {{product.price}}</span>
                </div>
                <div class="quantity d-flex">
                    <div class="bi bi-dash" (click)="decQte(product)"></div>
                    <span>{{product.qte}}</span>
                    <div class="bi bi-plus" (click)="addQte(product)"></div>
                </div>
            </div>
        </div>

        <h1 *ngIf="!cart.length">CART IS EMPTY</h1>

        <div class="cart-footer">
            <span>TOTAL</span>
            <span>$ {{total}}</span>
        </div>

        <button *ngIf="!cart.length" disabled>CHECKOUT</button>
        <button [routerLink]="['/checkout']" *ngIf="cart.length">CHECKOUT</button>


    </div>
</div>