<div class="container">
    <div class="wrapper">
        <div class="product" *ngFor="let product of products">
            <picture>
                <img src="{{product.image.mobile}}" alt="{{product.slug}}">
            </picture>

            <div class="product-text">
                <span>NEW PRODUCT</span>
                <h4>{{product.slug}}</h4>
                <p>{{product.description}}</p>
                <button [routerLink]="['/details', product.slug]">See product</button>
            </div>
        </div>
    </div>
</div>